client/src/assets/sample.mp4
resources/recordings/sample.mp4
resources/classifications/**
.DS_Store
.vscode/
*/package-lock.json
client/package-lock.json
server/package-lock.json
server/objdet
client/package-lock.json
