<div class="card bg-primary border-primary mb-3">
  <div class="card-header" align='center'>
    <h5>Import a zip file</h5>
  </div>
  <div class="card-body">
    <div class="form-group">
      <div class="input-group mb-3">
        <input type="text" placeholder="Input the name of the dataset" [(ngModel)]='datasetName' size="30"
          (ngModelChange)="detect()">
        <select name="label" class="custom-select" [(ngModel)]="datasetName" placeholder="Choose a label"
          (ngModelChange)="detect()">
          <option value="null" disabled>Or upload to an existing dataset</option>
          <option *ngFor="let data of datasetsNames" [value]="data.name">{{data.name}}</option>
        </select>
        <div class="custom-file">
          <input class="custom-file-input" id="inputGroupFile02" type="file" name='zip' (change)='showInfo($event)'
            [uploader]="uploader" ng2FileSelect [disabled]='showMyMessage2 == false' #zip>
          <label class="custom-file-label"
            for="inputGroupFile02">{{fileName == '' ? 'Choose a Zip File' : fileName}}</label>
        </div>
        <button type="button" class="btn btn-success btn-s" (click)="check()"
          [disabled]="!uploader.getNotUploadedItems().length ||showMyMessage2 == false || badFile == true">Upload Zip
          file</button>
      </div>
      <div class="progress" *ngIf='showMyMessage3 == false'>
        <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"
          style="width: 100%;"></div>
      </div>
      <div class="progress" *ngIf='showMyMessage4 == true'>
        <div class="progress-bar progress-bar-striped bg-success" role="progressbar" aria-valuenow="25"
          aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
      </div>
      <div class="progress" *ngIf='showMyMessage3 == true'>
        <div class="progress-bar progress-bar-striped bg-info progress-bar-animated" role="progressbar"
          aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ 'width': uploader.progress + '%' }">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card-columns">

  <div class="card bg-primary border-primary mb-3">
    <div class="card-header" align='center'>
      <h5>Select a Dataset to annotate</h5>
    </div>
    <div class="card-body">
      <ul style="list-style-type:none;">
        <li class="align-items-center" *ngFor="let data of datasetsNames; index as i">
          <div class="form-group">
            <div class="custom-control custom-radio">
              <input name="customRadio" class="custom-control-input" id="cust{{i}}" type="radio" [value]="data.open"
                (change)="change(i);">
              <label class="custom-control-label" for="cust{{i}}"><i class="fas fa-folder"
                  *ngIf='data.open == false'></i><i class="fas fa-folder-open"
                  *ngIf='data.open == true'></i>&nbsp;{{data.name}}</label>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>


  <div class="card bg-primary border-primary mb-3">
    <div class="card-body">
      <!-- <button class="btn btn-success btn-lg btn-block" (click)='go()' [disabled]='choosenDataset == undefined'><i
          class="fas fa-user-plus"></i> Single annotation</button>

      <div class="p-2" *ngIf='showMyMessage == true'>
        <select name="label" class="custom-select" [(ngModel)]="label" (mouseup)='realGo()'
          placeholder="Choose a label">
          <option value="undefined" disabled>Please choose a label</option>
          <option *ngFor="let lab of labels" [value]="lab">{{lab}}</option>
        </select>
        <input type="text" [(ngModel)]=newLabel [value]=newLabel placeholder="Or add a New Label">
        <button class="btn btn-info btn-sm" (click)='addLabel()' [disabled]='newLabel == null '>Add label</button>
      </div>

      <button class="btn btn-success btn-lg btn-block" [routerLink]="['/annotations/', choosenDataset, 0]"
        [disabled]='choosenDataset == undefined'><i class="fas fa-user-plus"></i> Add multiple labels</button> -->

      <button class="btn btn-success btn-lg btn-block" (click)="annotate()"
        [disabled]='choosenDataset == undefined'><i class="fas fa-user-plus"></i> Check object detection</button>  <!-- [routerLink]="['/annotations/multiple/', choosenDataset, 0]" -->
    </div>
  </div>

  <div class="card bg-primary border-primary mb-3">
    <div class="card-header" align='center'>
      <h5>Create Dataset from a Recorded video</h5>
    </div>
    <div class="card-body">
      <div class="example-wrapper">
        <label class="example-input-wrapper">
          <input placeholder="Date" [(ngModel)]="date" [owlDateTime]="dt2" [max]="max" [selectMode]="'single'"
            (ngModelChange)='watch()'>
          <span class="example-trigger" [owlDateTimeTrigger]="dt2">
            &nbsp;&nbsp;<i class="fas fa-calendar-alt"></i>
          </span>
          <owl-date-time #dt2 firstDayOfWeek='1' pickerType="calendar" pickerMode='dialog'></owl-date-time>
        </label>
      </div>
      <select name="camera" class="custom-select" [(ngModel)]="camera" (ngModelChange)='watch()'
        placeholder="Pick a camera">
        <option value="undefined" disabled>Pick a camera</option>
        <option *ngFor="let cam of cameras" [value]="cam.name">{{cam.name}}</option>
      </select>
      <div class="dropdown-divider"></div>
      <div align="center">
        <button class="btn btn-success btn-sm" [routerLink]="['/annotation/video', camera, date]"
          [disabled]='showMyWatch == false'>Watch</button>
      </div>
    </div>
  </div>

  <div class="card bg-primary border-primary mb-3">
    <div class="card-header" align='center'>
      <h5>Classification for retrain</h5>
    </div>
    <!-- <div class="card-body"> -->
    <ul style="list-style-type:none; margin-top: 5px;" class="column">
      <li class="align-items-center" *ngFor="let class of classNames; index as e">
        <div class="form-group">
          <div class="custom-control custom-radio">
            <input name="customRadio1" class="custom-control-input" id="cus{{e}}" type="radio" [value]="class.open"
              (change)="change1(e);">
            <label class="custom-control-label" for="cus{{e}}"><i class="fas fa-folder"
                *ngIf='class.open == false'></i><i class="fas fa-folder-open"
                *ngIf='class.open == true'></i>&nbsp;{{class.name}}</label>
          </div>
        </div>
      </li>
    </ul>
    <div class="dropdown-divider"></div>
    <div align="center">
      <div class='btn-group' role="group" style="margin-bottom: 3px;">
        <button class="btn btn-success btn-sm" [routerLink]="['/classify/', choosenClass]"
          [disabled]='showClass == false'>Classify</button>
        <button class="btn btn-success btn-sm" [routerLink]="['/prediction/', choosenClass]"
          [disabled]='showClass == false'>Use our prediction</button>
      </div>
    </div>

  </div>


  <!-- <button (click)='info()'>in</button> -->
