.column {
    column-count: 2;
}

a {
    cursor: pointer;
}

.fas {
    cursor: pointer;
}

.card-img-top {
    width: 96;
    height: 72;
}

.modal-card-footer {
    background-color: revert
}

.page-item.disabled {
    background-color: #375a7f;
}

.page-link {
    background-color: #375a7f;
}

.page-item.disabled .page-link {
    background-color: #375a7f;
}

.img-responsive {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -10px;
    margin-left: -25px;
}

.disableDiv {
    pointer-events: none;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default checkbox */

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 0;
    left: 45px;
    height: 21px;
    width: 23px;
    background-color: #eeeeee14;
}


/* On mouse-over, add a grey background color */


/* .container:hover input ~ .checkmark {
  background-color: #ccc;
} */


/* When the checkbox is checked, add a blue background */

.container input:checked~.checkmark {
    background-color: #375a7f;
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.container input:checked~.checkmark:after {
    display: block;
}


/* Style the checkmark/indicator */

.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.spinner {
    position: absolute;
    margin: auto;
    top: 33rem;
    bottom: 0;
    left: 0;
    right: 0;
}

.spin {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#datasets li:hover .delete {
    width: 36px;
    opacity: 1.0;
}

.delete {
    background: #d9534f;
    margin-left: 20px;
    text-align: center;
    color: white;
    width: 0;
    transition: 0.2s linear;
    border-radius: 8px;
    opacity: 0;
    float: right;
}