@import '../../../../scss/variables';
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

canvas {
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.algorithm-right-sidebar{
    background-color: rgba($black, .45);
    .mat-accordion {
        .mat-expansion-panel {
            border-bottom: 1px solid theme-color(dark);
            &:last-child{
                border-bottom: 0;
            }
            .alogrithm-row{
                margin-bottom: $spacer*1.5;
                &:last-child{
                    margin-bottom: 0;
                }
                .item{
                    flex: 1 1 auto;
                    &.item-name{
                        max-width: 100px;
                        width: 100%;
                    }
                }
            }
        }
    }
}

// .mat-accordion .mat-header-row {
//     padding-left: 1.5rem;
//     padding-right: 2rem;
//     border-bottom: none;
//   }

//   .mat-expansion-panel-header.mat-row {
//     border-bottom: none;
//   }

//   $mat-header-row-height: 56px;
//   $mat-row-height: 48px;
//   $mat-row-horizontal-padding: 24px;

//   .mat-table {
//     display: block;
//   }

//   .mat-header-row {
//     min-height: $mat-header-row-height;
//   }

//   .mat-row {
//     min-height: $mat-row-height;
//   }

//   .mat-row, .mat-header-row {
//     display: flex;
//     border-bottom-width: 1px;
//     border-bottom-style: solid;
//     align-items: center;
//     padding: 0 $mat-row-horizontal-padding;
//     box-sizing: border-box;
//     &::after {
//       display: inline-block;
//       min-height: inherit;
//       content: '';
//     }
//   }

//   .mat-cell, .mat-header-cell {
//     flex: 1;
//     overflow: hidden;
//     word-wrap: break-word;
//   }