<div class="section-padding header-padding inner-banner inner-banner-full bg-white d-flex align-items-center justify-content-center bg-after bg-after-darken bg-after-75" [ngStyle]="{'background-image': 'url(/assets/images/camera-edit-bg.jpg)'}">
  <div class="container container-medium text-center z-index-1 text-white">
      <h2 class="mb-4 text-uppercase text-white">Cameras - Edit</h2>
      <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-8 col-xl-6">
              <div class="p-5 custom-card rounded">
                  <h3 class="mb-2 text-primary">Name</h3>
                  <div class="form-group mb-4">
                      <input type="text" class="form-control" placeholder="Enter name">
                  </div>
                  <h3 class="mb-2 text-primary">Rtsp link</h3>
                  <div class="form-group">
                      <input type="text" class="form-control" placeholder="Link">
                  </div>
                  <div class="text-center pt-3">
                      <button type="submit" class="btn btn-primary btn-block">Save</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

















<!-- <div class="col-md-4 offset-md-2">
  <div class="card card-body text-center">
    <h3>
    {{camera.name == '' ? 'Name of Camera' : camera.name}}</h3>
    <p>{{camera.rtsp_in == '' ? 'Link' : camera.rtsp_in}}</p>
    <a href="/camerasList" class="btn btn-primary btn-block"><i class="fas fa-arrow-circle-left"></i> Back</a>
  </div>
</div>
<div class="col-md-6">
  <div class="card">
    <div class="card-body">
      <form>
        <h6>Name:</h6>
        <div class="form-group">
          <input type="text" name="name" [(ngModel)]="camera.name" placeholder="Name" class="form-control form-control-lg" autofocus required>
          </div>
          <h6>Rtsp link:</h6>
          <div class="form-group">
            <input type="text" name="rtsp" [(ngModel)]="camera.rtsp_in" placeholder="Link" class="form-control form-control" required>
            </div>
        <button class="btn btn-success btn-block" (click)="edit ? updateCamera() : saveCamera()">Save</button>
      </form>
    </div>
  </div>
</div> -->
