<div class="card-group">
  <div class="col-md-10">
    <div class="card border-info" style="min-height: 600.6px;">
      <div class="card-body" align='center'>
        <div class="container">
          <div class="d-flex justify-content-center" *ngIf="spin">
              <div class="spinner-border spin" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          <div class="row" *ngIf="datasetFlag">
            <div class="col-md-6 mb-1" *ngFor="let item of pagedItems; let i = index">
              <div class="card">
                <img class="card-img-top" src="" alt="">
                <div class="card-body">
                  <!-- <canvas class="card-img-top img-fluid" #polygon id="jPolygon{{i}}" height='{{height}}' width='{{width}}'
                    style="cursor:crosshair; background-repeat: no-repeat; background-size: 100% 100%;"
                    (click)='annotate($event, i)' style="background-image: url('https://ec2-54-152-186-179.compute-1.amazonaws.com/media/perumal/NiceKitchen.png'); background-size: 100% 100%;" oncontextmenu="return false;">
                    Your browser does not support the HTML5 canvas tag.
                  </canvas> -->
                  <canvas class="card-img-top img-fluid" #polygon id="jPolygon{{item.id}}" height='{{item.height}}' width='{{item.width}}'
                    style="cursor:crosshair; background-repeat: no-repeat; background-size: 100% 100%;"
                    (click)='annotate($event, item.id)' [style.background-image]="'url(' + item.image + ')'"
                    oncontextmenu="return false;">
                    Your browser does not support the HTML5 canvas tag.
                  </canvas>

                  <!-- <a href="#" class="btn btn-outline-primary btn-sm"> 
                              Card link 
                          </a> -->
                </div>
                <div class="card-footer">
                  <button class="btn btn-outline-primary btn-sm" (click)="getImgAnnotations(item.id)">
                    Labels
                  </button>
                </div>
              </div>
            </div>
            <!-- <div class="col-md-6 mb-1">
              <div class="card">
                <img class="card-img-top" src="" alt="">
                <div class="card-body">
                  <canvas class="card-img-top img-fluid" #polygon id="jPolygon" height='{{height}}' width='{{width}}'
                    style="cursor:crosshair; background-repeat: no-repeat; background-size: 100% 100%;"
                    (click)='annotate($event)' [style.background-image]="link" oncontextmenu="return false;">
                    Your browser does not support the HTML5 canvas tag.
                  </canvas>

                  <a href="#" class="btn btn-outline-primary btn-sm"> 
                              Card link 
                          </a>
                </div>
                <div class="card-footer">
                  <button class="btn btn-outline-primary btn-sm" (click)="getImgAnnotations()"> 
                    Annotations 
                  </button>
                </div>
              </div>
            </div> -->
            <!-- <div class="col-md-6 mb-1">
              <div class="card">
                <img class="card-img-top" src="" alt="">

                <div class="card-body">
                  <canvas class="card-img-top img-fluid" #polygon id="jPolygon" height='{{height}}' width='{{width}}'
                    style="cursor:crosshair; background-repeat: no-repeat; background-size: 100% 100%;"
                    (click)='annotate($event)' [style.background-image]="link" oncontextmenu="return false;">
                    Your browser does not support the HTML5 canvas tag.
                  </canvas>

                  <a href="#" class="btn btn-outline-primary btn-sm"> 
                            Card link 
                        </a> 
                </div>
                <div class="card-footer">
                  <button class="btn btn-outline-primary btn-sm" (click)="getImgAnnotations()"> 
                    Annotations 
                  </button>
                </div>
              </div>
            </div> -->
          </div>
          <!--  <div class="card-columns d-flex justify-content-center">
          <div class="card" style="width: 35rem;">
            <div class="card-body">
              <canvas class="card-img-top img-fluid" #polygon id="jPolygon" height='{{height}}' width='{{width}}'
                style="cursor:crosshair; background-repeat: no-repeat; background-size: 100% 100%;"
                (click)='annotate($event)' [style.background-image]="link" oncontextmenu="return false;">
                Your browser does not support the HTML5 canvas tag.
              </canvas>
            </div>
          </div>
          <div class="card" style="width: 35rem;">
            <div class="card-body">
              <canvas class="card-img-top img-fluid" #polygon id="jPolygon" height='{{height}}' width='{{width}}'
                style="cursor:crosshair; background-repeat: no-repeat; background-size: 100% 100%;"
                (click)='annotate($event)' [style.background-image]="link" oncontextmenu="return false;">
                Your browser does not support the HTML5 canvas tag.
              </canvas>
            </div>
          </div>
         <div class="card" style="width: 35rem;">
            <div class="card-body">
              <canvas class="card-img-top img-fluid" #polygon id="jPolygon" height='{{height}}' width='{{width}}'
                style="cursor:crosshair; background-repeat: no-repeat; background-size: 100% 100%;"
                (click)='annotate($event)' [style.background-image]="link" oncontextmenu="return false;">
                Your browser does not support the HTML5 canvas tag.
              </canvas>
            </div>
          </div>
          <div class="card" style="width: 35rem;">
            <div class="card-body">
              <canvas class="card-img-top img-fluid" #polygon id="jPolygon" height='{{height}}' width='{{width}}'
                style="cursor:crosshair; background-repeat: no-repeat; background-size: 100% 100%;"
                (click)='annotate($event)' [style.background-image]="link" oncontextmenu="return false;">
                Your browser does not support the HTML5 canvas tag.
              </canvas>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <canvas class="card-img-top img-fluid" #polygon id="jPolygon" height='{{height}}' width='{{width}}'
                style="cursor:crosshair; background-repeat: no-repeat; background-size: 100% 100%;"
                (click)='annotate($event)' [style.background-image]="link" oncontextmenu="return false;">
                Your browser does not support the HTML5 canvas tag.
              </canvas>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <canvas class="card-img-top img-fluid" #polygon id="jPolygon" height='{{height}}' width='{{width}}'
                style="cursor:crosshair; background-repeat: no-repeat; background-size: 100% 100%;"
                (click)='annotate($event)' [style.background-image]="link" oncontextmenu="return false;">
                Your browser does not support the HTML5 canvas tag.
              </canvas>
            </div>
          </div> -->
        </div>
      </div>
      <div class="card-footer" align='center'>
        <!-- pager -->
        <!-- <div *ngFor="let item of pagedItems">{{item.name}}</div> -->
        <nav aria-label="Page navigation example">
          <ul *ngIf="pager.pages && pager.pages.length" class="pagination justify-content-center">
            <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
              <a class="page-link" (click)="setPage(1)">First</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
              <a class="page-link" (click)="setPage(pager.currentPage - 1)">Previous</a>
            </li>
            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="page-item">
              <a class="page-link" (click)="setPage(page)">{{page}}</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
              <a class="page-link" (click)="setPage(pager.currentPage + 1)">Next</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
              <a class="page-link" (click)="setPage(pager.totalPages)">Last</a>
            </li>
          </ul>
        </nav>
        <!-- <jw-pagination [items]="items" (changePage)="onChangePage($event)"></jw-pagination> -->
        <!-- <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-end">
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">Next</a>
            </li>
          </ul>
        </nav> -->
      </div>
    </div>
  </div>

  <div class=" col-md-2">
    <div class="card border-info panel">
      <div class="card-header" align='center' *ngIf='objDet == true'>List of areas</div>
      <div class="card-header" align='center' *ngIf='objDet == false'>Labels Detected</div>
      <ul *ngIf="!labelsMessage">
        <li *ngFor='let ann of annotations; index as i' (click)='get(i)'>{{ann[2].label}}</li>
      </ul>
      <div class="card-body" *ngIf="labelsMessage">
        Click the object labels button to check the detected objects
      </div>
    </div>

    <div class="card border-info panel" style='margin-top:2px;'>
      <div class="card-header" align='center'>Instructions</div>
      <div class="card-body">
        <p><strong>Click the object to define it with the new label</strong> </p>
      </div>
    </div>
  </div>
</div>
<div class="input-group mb-1 p-1" *ngIf='multiple == true'>
  <input type="text" [(ngModel)]=newLabel [value]=newLabel placeholder="New Label">
  <button class="btn btn-primary" (click)='addLabel()' [disabled]='newLabel == null '>Add label</button>
  <button class="btn btn-primary" (click)='updateLabel()' [disabled]='on == false'>Update label</button>
  <select name="label" class="custom-select" [(ngModel)]="label" (mouseup)='noMess()'>
    <!-- <option value="undefined" disabled>Please choose a label</option> -->
    <option *ngFor="let lab of labels" [value]="lab">{{lab}}</option>
  </select>
</div>
<div class='btn-group p-2' role="group">
  <button class="btn btn-info" (click)='prev()'><i class="fas fa-caret-left"></i> &nbsp;Previous</button>
  <button class="btn btn-info" (click)='clear()' [disabled]='clearAct == false'>Clear Annotation</button>
  <button class="btn btn-info" [routerLink]="['/annotations']">Back to folders</button>
  <button class="btn btn-info" (click)='next()'>Next &nbsp;<i class="fas fa-caret-right"></i></button>
</div>


<div class="alert alert-warning col-md-4" *ngIf="showMyMessage == true">
  <strong>Oops!</strong> Please choose a label to start.
</div>
