
<div class="section-padding header-padding inner-banner inner-banner-full bg-white d-flex align-items-center justify-content-center bg-after bg-after-darken bg-after-75" [ngStyle]="{'background-image': 'url(/assets/images/test-your-model-bg.jpg)'}">
  <div class="container container-medium text-center z-index-1 text-white">
      <h2 class="mb-4 text-uppercase text-white">Test your Model</h2>
      <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-8 col-xl-6">
              <div class="p-5 custom-card rounded">
                  <h3 class="mb-2 text-primary">Un-Annotated Dataset</h3>
                  <div class="form-group mb-4">
                      <select class="form-control select-picker">
                          <option value="USD_1">USD_1</option>
                          <option value="USD_2">USD_2</option>
                      </select>
                  </div>
                  <h3 class="mb-2 text-primary">Inferencing Time Slot</h3>
                  <div class="form-row mb-3 text-left">
                      <div class="col-12 col-md-8 form-group">
                          <select class="form-control select-picker">
                              <option value="M1">M1</option>
                              <option value="M2">M2</option>
                          </select>
                      </div>
                      <div class="col-12 col-md-4 form-group">
                          <select class="form-control select-picker">
                              <option value="1.1">1.1</option>
                              <option value="1.2">1.2</option>
                          </select>
                      </div>
                  </div>
                  <div class="text-center">
                      <button type="submit" class="btn btn-primary btn-block">Test Model</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>