<div class="card border-primary mb-3" *ngIf="stored_vid">
    <mat-video #video [title]="title" [autoplay]="true" [preload]="true" [fullscreen]="true" [download]="true" color="accent" spinner="spin" [loop]="true" [muted]="true" [showFrameByFrame]="true" [src]="rtsp_in">
    </mat-video>
</div>

<div class="card border-primary mb-3" *ngIf="liveFeed">
    <canvas #streaming id="canvas" width="1102" height="480" style="display: block; width: 1102px !important; height: 480px !important;"></canvas>
</div>

<div class="card bg-primary border-primary mb-3">
    <div class="card-body">
        <div class="row">
            <h5>Beginning:</h5>&nbsp;
            <div class="time-select1">
                <input class="time-select" [(ngModel)]="start" (ngModelChange)="change(start,'s')" required [class.invalid-input]="!isValidTime">
                <a class="btn btn-primary" data-toggle="collapse" href="#collapse1" role="button" aria-expanded="false" aria-controls="collapse1">
                    <i class="far fa-clock"></i>
                </a>
                <!-- Time Accordion with Virtual Scroll -->
                <div class="collapse" id="collapse1">
                    <cdk-virtual-scroll-viewport itemSize="20" class="card card-body container">
                        <div *cdkVirtualFor="let singleTime of availableTimeStart" class="number" (click)="this.start = singleTime;refreshTime();" data-toggle="collapse" href="#collapse1">
                            {{singleTime}}
                        </div>
                    </cdk-virtual-scroll-viewport>
                </div>
            </div>
            <h5>End:</h5>&nbsp;
            <div class="time-select2">
                <input class="time-select" [(ngModel)]="finish" (ngModelChange)="change(finish,'f')" [min]="start" [max]="maxTime" required>
                <a class="btn btn-primary" data-toggle="collapse" href="#collapse2" role="button" aria-expanded="false" aria-controls="collapse2">
                    <i class="far fa-clock "></i>
                </a>
                <!-- Time Accordion with Virtual Scroll -->
                <div class="collapse" id="collapse2">
                    <cdk-virtual-scroll-viewport itemSize="20" class="card card-body container">
                        <div *cdkVirtualFor="let singleTime of availableTimeFinish" class="number" (click)="this.finish = singleTime; refreshTime();" data-toggle="collapse" href="#collapse2">
                            {{singleTime}}
                        </div>
                    </cdk-virtual-scroll-viewport>
                </div>
            </div>
            <h5>Fps:</h5>&nbsp;
            <input type="number" [(ngModel)]="conf.fps" min="0" max="60" (ngModelChange)="calculate()"> &nbsp;
            <h5>Dataset Name:</h5>&nbsp;
            <input type="text" placeholder="Input dataset name" [(ngModel)]='datasetName' size="20" (ngModelChange)="detect()" [disabled]="flag == false"> &nbsp;
            <h5>Total images:</h5>&nbsp;
            <input type="number" disabled [(ngModel)]='picturesNumber'> &nbsp;
            <div class="btn-group">
                <button class="btn btn-success btn-sm" [disabled]="act == false" data-toggle="modal" data-target="#confirmModal" style="max-height: 2.3em;">Make Dataset</button>
                <button class="btn btn-info btn-sm" [routerLink]="['/annotations']" style="max-height: 2.3em;">Back</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade mb-3" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-bold w-100 text-center">Confirmation Dialog</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5 class="text-center">Processing dataset will take some time.</h5>
                <br>
                <h5 class="text-center">Please refresh and check datasets section after {{waitingTime*2}} seconds.</h5>
            </div>
            <div class="dropdown-divider"></div>
            <div class="mt-2 mb-3" align='center'>
                <button class="btn btn-primary mr-3" data-dismiss="modal" (click)="send()" style="max-height: 3em;">Okay</button>
                <button class="btn btn-secondary" data-dismiss="modal" style="max-height: 3em;">Close</button>
            </div>
        </div>
    </div>
</div>