@import '../../../../scss/variables';
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

.video-options{
    background-color: rgba($grey-darken, 0.5);
    .time-list{
        width: 100px;
        height: 140px;
    }
}



// .card-body h5,
// button {
//     margin-left: 0.5em;
//     max-height: 2em;
// }

// .card-body a {
//     padding-left: 0.1em;
//     padding-right: 0.3em;
//     background-color: -internal-light-dark(grey, rgb(59, 59, 59));
//     border-radius: 0 4px 4px 0;
// }

// .card-body a:hover {
//     opacity: 50%;
// }

// input {
//     margin-top: 1px;
//     margin-left: 0.1em;
//     height: 22px;
//     max-height: 3em;
// }

// .collapse {
//     overflow: auto;
//     grid-area: collapse;
// }

// .container {
//     height: 140px;
// }

// .number {
//     display: flex;
//     align-items: center;
//     box-shadow: rgba(250, 250, 250, 0.15) 1.95px 1.95px 2.6px;
// }

// .number:hover {
//     cursor: pointer;
//     opacity: 50%;
// }

// .invalid-input {
//     border: #d9534f 2px solid;
//     border-radius: 4px;
// }