<div class="card border-primary mb-3" *ngIf="stored_vid">
  <mat-video #video [title]="title" [autoplay]="true" [preload]="true" [fullscreen]="true" [download]="true"
    color="accent" spinner="spin" [loop]="true" [muted]="true" [showFrameByFrame]="true" [src]="rtsp_in">
  </mat-video>
</div>

<div class="card border-primary mb-3" *ngIf="liveFeed">
  <canvas #streaming id="canvas" width="1102" height="480"
    style="display: block; width: 1102px !important; height: 480px !important;"></canvas>
</div>

<div class="card bg-primary border-primary mb-3">
  <div class="card-body">
    <div class="row">
      <h5>Beginning:</h5>&nbsp;
      <input type="time" step="1" [(ngModel)]="start" (ngModelChange)="change(start,'s')">
      <h5>End:</h5>&nbsp;
      <input type="time" step="1" [(ngModel)]="finish" (ngModelChange)="change(finish,'f')">
      <h5>Fps:</h5>&nbsp;
      <input type="number" [(ngModel)]="conf.fps" min="0" max="60">
      &nbsp;
      <div class="btn-group">
        <button class="btn btn-success btn-sm" [disabled]="act == false" data-toggle="modal"
          data-target="#confirmModal">Make Dataset</button>
        <button class="btn btn-info btn-sm" [routerLink]="['/annotations']">Back</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade mb-3" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title font-weight-bold w-100 text-center">Confirmation Dialog</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4 class="text-center">Thank You!!!</h4>
        <h6 class="text-center">Processing Feed will take {{t}} secs. Please confirm!!</h6>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="send()">Okay</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div> -->
      <div class="dropdown-divider"></div>
      <div class="mt-2 mb-3" align='center'>
        <button class="btn btn-primary mr-3" data-dismiss="modal" (click)="send()">Okay</button>
        <button class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
