<div class="section-padding home-section bg-white d-flex align-items-center justify-content-center bg-after bg-after-darken bg-after-25" [ngStyle]="{'background-image': 'url(/assets/images/souffle-bg.jpg)'}">
    <div class="container text-center text-white z-index-1">
        <h2 class="text-white mb-4">SOUFFLE</h2>
        <p>Self-Organizing User-Friendly Federated Learning Environment</p>
        <p>We provide a maximally automated annotation platform for instant results and ease of use.  We leverage our high-accuracy inference engine to provide you the insights you need from your datasets.</p>
        <p class="mb-4">Coupled with the capability to execute decentralized, dynamic, federated learning with real-time CCTV footage and videos, this novel aspect of our solution makes it a powerful AI engine at your disposal.  As a one-stop-shop for working with your data, SOUFFLE allows you the option to Train and test your models too. So just load up your data and watch the magic happen! </p>
        <p class="mb-5">Click the button below to learn more about us.</p>
        <button type="button" class="btn btn-primary btn-lg btn-min-w">Graymatics Home</button>
    </div>
</div>