<div
  class="section-padding header-padding inner-banner inner-banner-full bg-white d-flex align-items-center justify-content-center bg-after bg-after-darken bg-after-75"
  [ngStyle]="{ 'background-image': 'url(/assets/images/camera-edit-bg.jpg)' }"
>
  <div class="container container-large text-center z-index-1 text-white">
    <div
      class="d-flex justify-content-center position-fixed loader"
      *ngIf="spin"
    >
      <div class="spinner-border spin" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <h2 class="mb-4 text-uppercase text-white">MANAGE USERS</h2>
    <div class="p-5 custom-card rounded text-left mb-3">
      <ngx-datatable
        [rows]="rows"
        class="material"
        [loadingIndicator]="loadingIndicator"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="50"
        [columns]="columns"
        [reorderable]="reorderable"
      >
        <ngx-datatable-column [width]="160" name="NAME">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <span class="my-2">{{ row.name }}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [width]="20" name="ROLE">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <span class="my-2">{{ formatRole(row.role) }}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [width]="200" name="EMAIL">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <span class="my-3">{{ row.email }}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [width]="180" name="ACCESSIBILITY">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <span class="my-2"
              >{{ formatDate(row.startDate, row.endDate) }}
            </span>
          </ng-template>
        </ngx-datatable-column>

        <!-- <ngx-datatable-column name="ACTION">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <button
              type="button"
              class="btn btn-warning"
              data-dismiss="modal"
              (click)="openModal(template, row)"
            >
              Update Accessibility
            </button>
            <button
              type="button"
              class="btn btn-danger btn-block"
              data-dismiss="modal"
              (click)="openModal(template, row)"
            >
              Delete Accessibility
            </button>
          </ng-template>
        </ngx-datatable-column> -->

        <ngx-datatable-column name="ACCESSIBILITY SETTINGS">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <span>
              <button
                class="btn btn-warning mr-4"
                (click)="openModal(template, row, 'update')"
              >
                Update
              </button>
              <button
                class="btn btn-danger"
                (click)="openModal(removeAccessibilitytemplate, row)"
                [disabled]="!row.startDate && !row.endDate"
              >
                Remove
              </button>
            </span>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>

      <ng-template #template>
        <div class="modal-header">
          <h5 class="modal-title pull-left">Select Date Range</h5>
          <button
            type="button"
            class="close pull-right"
            aria-label="Close"
            (click)="hideModal()"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <div class="mb-2" *ngIf="showExpired">
              <p class="text-warning font-weight-bold">
                Accessibility Expired!
              </p>
            </div>
            <div class="mb-4">
              <input
                class="form-control"
                #drp="bsDaterangepicker"
                bsDaterangepicker
                [minDate]="minDate"
                [(ngModel)]="bsRangeValue"
              />
            </div>

            <button
              type="button"
              class="btn btn-primary btn-block"
              data-dismiss="modal"
              (click)="submit()"
            >
              Update
            </button>
          </div>
        </div>
      </ng-template>

      <ng-template #removeAccessibilitytemplate>
        <div class="modal-header">
          <h5 class="modal-title pull-left">
            Are you sure, to remove user accessibility?
          </h5>
          <button
            type="button"
            class="close pull-right"
            aria-label="Close"
            (click)="modalRef.hide()"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <button
              type="button"
              class="btn btn-warning btn-block"
              data-dismiss="modal"
              (click)="removeAccessibility()"
            >
              Yes, Remove
            </button>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
