<div
  class="section-padding header-padding inner-banner inner-banner-full bg-white d-flex align-items-center justify-content-center bg-after bg-after-darken bg-after-75"
  [ngStyle]="{ 'background-image': 'url(/assets/images/federated-bg.jpg)' }"
>
  <div class="container container-medium text-center z-index-1 text-white">
    <h2 class="mb-4 text-white">
      Add a Video (Only .mp4 file format is supported)
    </h2>
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8 col-xl-6">
        <div
          class="d-flex justify-content-center position-fixed loader"
          *ngIf="spin"
        >
          <div class="spinner-border spin" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <div class="p-5 custom-card rounded text-left">
          <div class="form-group">
            <label for="search">Name</label>
            <input
              class="form-control"
              [(ngModel)]="name"
              type="text"
              nbInput
              id="search"
              placeholder="Choose a Name"
              [disabled]="cameraName !== ''"
            />
          </div>
          <p>Or</p>
          <div class="form-group">
            <label for="search">Merge Video</label>

            <select
              name="cameraName"
              [(ngModel)]="cameraName"
              class="custom-select"
              [disabled]="name !== ''"
            >
              <option value="" disabled>Choose Video</option>
              <option value="">None</option>
              <option
                *ngFor="let data of cameraList; index as i"
                [value]="data.id"
              >
                {{ data.name }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="search">Video Name</label>
            <input
              class="form-control"
              [(ngModel)]="videoName"
              type="text"
              nbInput
              id="search"
              placeholder="Enter .mp4 File Name"
              [disabled]="cameraName == '' && name == ''"
              (keydown.space)="$event.preventDefault()"
              required
            />
          </div>

          <div class="text-center pt-3">
            <button
              nbButton
              class="btn btn-primary btn-block"
              (click)="upload()"
              *ngIf="!load"
              [disabled]="videoName == '' || (cameraName == '' && name == '')"
            >
              Upload
            </button>
            <!-- <button
              nbButton
              class="btn btn-primary btn-block"
              *ngIf="progress > 0"
            >
              Uploading {{ progress }}%
            </button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-4">
                    <h4>Add a Video</h4><br>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
        <div class="card border-primary col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <input [(ngModel)]='name' style="width: auto" type="text" nbInput id="search" placeholder="Choose a Name">
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-6 less-padding">
                    <div class="custom-file">
                        <label class="custom-file-label" for="exampleInputFile">{{fileName == null ? 'Choose a File to upload' : fileName}}</label>
                        <input type="file" (change)=change() [uploader]="uploader" ng2FileSelect #fileInput class="custom-file-input" id="exampleInputFile" aria-describedby="fileHelp" name="file" [disabled]="name == null">
                    </div>
                </div>
            </div>

            <div class='row'>
                <div class='col-md-12'>
                    <button nbButton class="btn-block" (click)='uploa()' *ngIf='!load' [disabled]='fileName == null '>Upload
                    </button>
                    <button nbButton class="btn-block" *ngIf='progress > 0'>
                      Uploading {{progress}}%
                    </button>
                </div>
            </div>
        </div>
    </div>
</div> -->
