<div class="section-padding header-padding inner-banner inner-banner-full bg-white d-flex align-items-center justify-content-center bg-after bg-after-darken bg-after-75"
    [ngStyle]="{'background-image': 'url(/assets/images/create-dataset-bg.jpg)'}">
    <div class="container container-medium text-center z-index-1 text-white">
        <h2 class="mb-4 text-uppercase text-white">Training With Annotated Dataset</h2>
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <div class="p-5 custom-card rounded text-left">
                    <div class="form-row">
                        <div class="col-12 col-md-6 form-group">
                            <label for="">Dataset Name</label>
                            <input type="text" class="form-control" [(ngModel)]=datasetName [value]=datasetName
                                placeholder="Dataset Name" readonly>
                        </div>
                        <div class="col-12 col-md-6 form-group">
                            <label for="">Email</label>
                            <input type="email" class="form-control" placeholder="Enter your Email"
                                [(ngModel)]=emailAddress [value]=emailAddress>
                        </div>
                    </div>
                    <div class="form-row mb-2">
                        <div class="col-12 col-md-6 form-group" *ngIf="model !== 'Face Recognition'">
                            <label for="">Date & Time</label>
                            <input [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="Date(MM/DD/YYYY)"
                                class="form-control date-time-picker" [(ngModel)]="date" [min]="min"
                                [selectMode]="'single'" id="dateSelector">
                            <owl-date-time #dt1 pickerType="both"></owl-date-time>
                        </div>
                        <div class="col-12 col-md-6 form-group">
                            <label for="">Select a Model</label>
                            <div class="form-row">
                                <div class="col-12">
                                    <select class="form-control select-picker" [(ngModel)]="model" (change)="getModel()">
                                        <option value="undefined" disabled>Pick a training model</option>
                                        <option *ngFor="let mod of models" [value]="mod.name">{{mod.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 form-group" *ngIf="model !== 'Face Recognition'">
                            <label for="">Overfit Mode</label>
                            <div class="form-row">
                                <div class="col-12">
                                    <select class="form-control select-picker" [(ngModel)]="overfit_mode">
                                        <option value="undefined" disabled>Select a Overfit mode</option>
                                        <option value="Generalized Overfit (Low)">Generalized Overfit (Low)</option>
                                        <option value="Moderate Overfit">Moderate Overfit</option>
                                        <option value="Custom Overfit (High)">Custom Overfit (High)</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-primary btn-min-w" (click)='train()'
                            [disabled]="!isFormFilled()">Save Training</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <div class="card-columns">

    <div class="card bg-primary border-primary mb-3">
        <div class="card-header" align='center'>
            <h5>Annotations Training Details</h5>
        </div>
        <div class="card-body">
            <input type="text" class="gsate-input" [(ngModel)]=datasetName [value]=datasetName
                placeholder="Dataset Name" style="margin-left: 5px;" readonly>

            <div class="dropdown-divider"></div>

            <input type="text" class="gsate-input" [(ngModel)]=contactName [value]=contactName
                placeholder="Contact Name" style="margin-left: 5px;">
            <br>
            <input type="text" class="gsate-input" [(ngModel)]=emailAddress [value]=emailAddress
                placeholder="Email Address" style="margin-left: 5px;">
            <div class="dropdown-divider"></div>

            <div class="example-wrapper">
                <label class="example-input-wrapper gsate-input">
                    <input placeholder="Select date and time" class="gsate-input" [(ngModel)]="date"
                        [owlDateTime]="date1" [min]="min" [selectMode]="'single'" id="dateSelector">
                    <span [owlDateTimeTrigger]="date1">
                        &nbsp;&nbsp;<i class="fas fa-calendar-alt"></i>
                    </span>
                    <owl-date-time #date1 firstDayOfWeek='1' pickerMode='dialog'></owl-date-time>
                </label>

            </div>
            <div class="dropdown-divider"></div>
            <div class='btn-group ' role="group">
                <select name="model" [(ngModel)]="model" class="custom-select gsate-input"
                    placeholder="Pick a training model">
                    <option value="undefined" disabled>Pick a training model</option>
                    <option *ngFor="let mod of models" [value]="mod.name">{{mod.name}}</option>
                </select>
            </div>
        </div>


    </div>

    <div class="card bg-primary border-primary mb-3">
        <div class="card-header" align='center'>
            <h5>Proceed Training</h5>
        </div>
        <div class="card-body">
            <div align="center">
                <button type="button" (click)='train()' class="btn btn-success btn-s training"
                    [disabled]="!isFormFilled()">Confirm
                </button>
            </div>
        </div>
    </div> -->


<!-- <button (click)='info()'>in</button> -->