<!-- <div class="card border-success mb-3" [@flyInOut]>
  <div class="card-header">Camera 1</div>
  <div class="card-body">
    <iframe src="http://graymaticssg.ddns.net:10015/stream3.mjpeg" width="800" height="500" frameborder="0"></iframe>
  </div>
</div>
<div class="card border-success mb-3" [@flyInOut]>
  <div class="card-header">Camera 2</div>
  <div class="card-body">
    <iframe src="http://192.168.1.171:8090/stream0.mjpeg" width="800" height="500" frameborder="0"></iframe>
  </div>
</div>
<div class="card border-success mb-3" [@flyInOut]>
  <div class="card-header">Camera 3</div>
  <div class="card-body">
    <iframe src="http://192.168.1.171:8090/stream1.mjpeg" width="800" height="500" frameborder="0"></iframe>
  </div>
</div> -->
<p>
    {{ dateMessage }}
</p>
<table class="table table-hover" frame='border' id="myTable">
    <thead align='center'>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Play</th>
            <th scope="col">Edit</th>
            <th scope="col"><i class="far fa-dot-circle"></i>
                <!-- <th scope="col" *ngIf='heatmap == true'><i class="far fa-map"></i> &nbsp;Heatmap</th> -->&nbsp;Algorithms</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tr class="table-light" *ngFor="let camera of cams">
        <td scope="row">{{camera.name}}</td>
        <td><button [routerLink]="['/cameras/live/', camera.id]" class="btn btn-warning btn-block">
          <i class="fas fa-play"></i>
      </button></td>
        <td><a [routerLink]="['/cameras/edit', camera.id]" class="btn btn-info btn-block">
      Edit
      </a></td>
        <td><a [routerLink]="['/cameras/algorithms', camera.id]" class="btn btn-info btn-block">
        Algorithms
        </a></td>
        <!-- <td *ngIf='heatmap == true'><button [routerLink]="['/cameras/heatmap', camera.id]" class= "btn btn-info btn-block" [disabled]= 'camera.hm == undefined'>
          Heatmap
        </button></td> -->
        <td><button class="btn btn-danger btn-block" (click)="deleteCamera(camera.id)">
        <i class="far fa-trash-alt"></i>
      </button></td>
    </tr>
</table>
<!-- deleteCamera(camera.id) -->