<!-- <div class="card border-success mb-3" [@flyInOut]>
  <div class="card-header">Camera 1</div>
  <div class="card-body">
    <iframe src="http://graymaticssg.ddns.net:10015/stream3.mjpeg" width="800" height="500" frameborder="0"></iframe>
  </div>
</div>
<div class="card border-success mb-3" [@flyInOut]>
  <div class="card-header">Camera 2</div>
  <div class="card-body">
    <iframe src="http://192.168.1.171:8090/stream0.mjpeg" width="800" height="500" frameborder="0"></iframe>
  </div>
</div>
<div class="card border-success mb-3" [@flyInOut]>
  <div class="card-header">Camera 3</div>
  <div class="card-body">
    <iframe src="http://192.168.1.171:8090/stream1.mjpeg" width="800" height="500" frameborder="0"></iframe>
  </div>
</div> -->
<p>
    {{ dateMessage }}
</p>
<div class="card bg-primary border-primary mb-3">
    <div class="card-header" align='center'>
        <h5>Upload video</h5>
    </div>
    <div class="card-body">
        <div class="form-group">
            <div class="input-group mb-3">
                <!-- <input type="text" placeholder="Input the name of the dataset" [(ngModel)]='datasetName' size="30"
        (ngModelChange)="detect()">
      <select name="label" class="custom-select" [(ngModel)]="datasetName" placeholder="Choose a label"
        (ngModelChange)="detect()">
        <option value="null" disabled>Or upload to an existing dataset</option>
        <option *ngFor="let data of datasetsNames" [value]="data.name">{{data.name}}</option>
      </select> -->
                <div class="custom-file">
                    <input class="custom-file-input" id="inputGroupFile02" type="file" name='zip' (change)='showInfo($event)' [uploader]="uploader" ng2FileSelect [disabled]='showMyMessage2 == false' #zip>
                    <label class="custom-file-label" for="inputGroupFile02">{{fileName == '' ? 'Choose a video to upload' : fileName}}</label>
                </div>
                <button type="button" class="btn btn-success btn-s" (click)="check()" [disabled]="!uploader.getNotUploadedItems().length ||showMyMessage2 == false || badFile == true">Upload Image
      </button>
            </div>
            <div class="progress" *ngIf='showMyMessage3 == false'>
                <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
            </div>
            <div class="progress" *ngIf='showMyMessage4 == true'>
                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
            </div>
            <div class="progress" *ngIf='showMyMessage3 == true'>
                <div class="progress-bar progress-bar-striped bg-info progress-bar-animated" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ 'width': uploader.progress + '%' }">
                </div>
            </div>
        </div>
    </div>
</div>
<table class="table table-hover" frame='border' id="myTable">
    <thead align='center'>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Play</th>
            <th scope="col">Edit</th>
            <th scope="col"><i class="far fa-dot-circle"></i>&n
                <!-- <th scope="col" *ngIf='heatmap == true'><i class="far fa-map"></i> &nbsp;Heatmap</th> -->bsp;Algorithms</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tr class="table-light" *ngFor="let camera of cams">
        <td scope="row">{{camera.name}}</td>
        <td><button [routerLink]="['/cameras/live/', camera.id]" class="btn btn-warning btn-block">
          <i class="fas fa-play"></i>
      </button></td>
        <td><a [routerLink]="['/cameras/edit', camera.id]" class="btn btn-info btn-block">
      Edit
      </a></td>
        <td><a [routerLink]="['/cameras/algorithms', camera.id]" class="btn btn-info btn-block">
        Algorithms
        </a></td>
        <!-- <td *ngIf='heatmap == true'><button [routerLink]="['/cameras/heatmap', camera.id]" class= "btn btn-info btn-block" [disabled]= 'camera.hm == undefined'>
          Heatmap
        </button></td> -->
        <td><button class="btn btn-danger btn-block" (click)="deleteCamera(camera.id)">
        <i class="far fa-trash-alt"></i>
      </button></td>
    </tr>
</table>

<!-- deleteCamera(camera.id) -->