<div class="container p-4">
    <div class="card text-white bg-warning mb-3">
        <div class="card-header" align="center">
            <h3>Confirm Training?</h3>
        </div>
        <br>
        <div class="content">
            <h4>Summary</h4>
            <div class="row">
                <div class="col-sm-5">
                    <ul>
                        <li> Dataset Name: {{this.customerData.datasetName}}</li>
                        <li> Contact Person: {{this.customerData.contactName}}</li>
                        <li> Email Address: {{this.customerData.emailAddress}}</li>
                    </ul>

                </div>
                <div class="col-sm-7">
                    <ul>
                        <li> Date Selected: {{this.customerData.date}}</li>
                        <li> Model Selected: {{this.customerData.model}}</li>
                        <li> Version Selected: {{this.customerData.version}}</li>
                    </ul>
                </div>

            </div>
        </div>
        <a class="btn btn-primary" data-toggle="modal" data-target="#modalCenter"><i
                class="fas fa-arrow-circle-left"></i>&nbsp; Yes</a>
        <a class="btn btn-primary" (click)="back()"><i class="fas fa-arrow-circle-left"></i>&nbsp; Go Back</a>

        <!-- Modal -->
        <div class="modal fade" id="modalCenter" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Confirmed</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p> Thank you. An email will be sent once model is trained. </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="send()">Save
                            changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>