@import 'variables';
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

// banner style
.inner{
    &-banner{
        min-height: 312px;
        position: relative;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
        &.bg-after{
            &:after{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                content: '';
                z-index: 0;
            }
        }
        &.bg-after-25{
            &:after{
                opacity: .25;
            }
        }
        &.bg-after-50{
            &:after{
                opacity: .50;
            }
        }
        &.bg-after-75{
            &:after{
                opacity: .75;
            }
        }
        &.bg-after-darken{
            &:after{
                background-color: $grey-darken;
            }
        }
        .banner-caption{
            position: absolute !important;
            top: 50%;
            left: 0;
            right: 0;
            transform: translateY(-50%);
        }
        &-full{
            min-height: 100vh;
        }
    }
}

// form style
.form-control{
    background-repeat: no-repeat;
    background-position: right $spacer/2 center;
    background-size: $spacer*1.25 $spacer*1.25;
    &[disabled]{
        background-color: rgba($white, 0.1);
        color: rgba($white, 0.5);
        opacity: 0.5;
        &.form-control-transparent{
            background-color: rgba($white, 0.1);
            color: rgba($white, 0.5);
            &::placeholder{
                color: rgba($white, 0.25);
            }
        }
    }
    &::placeholder{
        color: $grey-medium;
    }
    &:focus{
        box-shadow: none;
        border-color: $primary;
    }
    &.date-picker{
        background-image: url('/assets/icons/calendar.svg');
    }
    &.time-picker{
        background-image: url('/assets/icons/time.svg');
    }
    &.date-time-picker{
        background-image: url('/assets/icons/date-time.svg');
    }
    &.select-picker{
        appearance: none;
        background-image: url('/assets/icons/arrow-down.svg');
        option{
            color: $dark;
        }
        &:focus{
            option{
                color: $dark;
            }
        }
    }
    &.search-field{
        background-image: url('/assets/icons/search.svg');
    }
    &-transparent{
        background-color: rgba($white, 0.1);
        color: $white;
        border-color: transparent;
        &::placeholder{
            color: theme-color(light);
        }
        &:focus{
            background-color: rgba($white, 0.1);
            color: $white;
            border-color: theme-color(medium);
        }
        &.date-picker{
            background-image: url('/assets/icons/calendar-white.svg');
        }
        &.time-picker{
            background-image: url('/assets/icons/time-white.svg');
        }
        &.date-time-picker{
            background-image: url('/assets/icons/date-time-white.svg');
        }
        &.select-picker{
            background-image: url('/assets/icons/arrow-down-white.svg');
        }
        &.search-field{
            background-image: url('/assets/icons/search-white.svg');
        }
    }
    &-sm{
        background-size: $spacer $spacer;
    }
}
.custom{
    &-file{
        &-input{
            &[disabled]{
                &+label{
                    background-color: rgba($white, 0.1);
                    color: rgba($white, 0.5);
                    opacity: 0.5;
                    &.custom-file-label-transparent{
                        background-color: rgba($white, 0.1);
                        color: rgba($white, 0.5);
                    }
                }
            }
        }
        &-label{
            background-color: $white;
            border: 1px solid transparent;
            height: $input-height;
            color: $input-color;
            font-size: $font-size-sm;
            line-height: 1.7;
            background-repeat: no-repeat;
            background-position: right $spacer/2 center;
            background-size: $spacer*1.25 $spacer*1.25;
            text-align: left;
            padding-right: $spacer*2;
            background-image: url('/assets/icons/upload.svg');
            &-transparent{
                background-color: rgba($white, 0.1);
                color: $white;
                height: $input-height;
                background-image: url('/assets/icons/upload-white.svg');
            }
            &:after{
                display: none;
            }
        }
    }
}

.separator{
    text-align: center;
    overflow: hidden;
    padding-top: $spacer*4;
    padding-bottom: $spacer*4;
    span{
        position: relative;
        font-size: $font-size-lg*2;
        font-weight: 500;
        color: $grey-light;
        &:after,&:before{
            content: "";
            position: absolute;
            left: calc(100% + #{$spacer / 2});
            top: 50%;
            width: 100vw;
            transform: translateY(-50%);
            border-bottom: 1px solid $grey-light;
        }
        &:before{
            left: auto;
            right: calc(100% + #{$spacer / 2});
        }
    }
}

// datepicker
.theme-default{
    .bs{
        &-datepicker{
            &-head{
                background-color: $primary;
            }
        }
    }
}
.owl-dt-control{
    &-button-content{
        color: $primary;
        &:hover{
            background-color: $primary !important;
            color: $white;
        }
    }
}
.owl-dt-calendar{
    &-cell-selected{
        background-color: $primary;
    }
}

// custom card
.custom{
    &-card{
        background-color: rgba($grey-darken,0.95);
        &-image{
            position: relative;
            overflow: hidden;
            height: 180px;
            border-radius: $spacer/4;
            img{
                position: relative;
                z-index: 1;
            }
            &-checkbox{
                position: absolute;
                bottom: $spacer/2;
                right: $spacer/2;
                width: $spacer*2;
                height: $spacer*2;
                border-radius: $spacer/4;
                background-color: $white;
                z-index: 1;
                transition: all 0.25s ease-in-out;
                border: 2px solid $primary;
                display: flex;
                align-items: center;
                justify-content: center;
                svg{
                    fill: $white;
                    opacity: 0;
                }
            }
            input[type="checkbox"]{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 2;
                opacity: 0;
                cursor: pointer;
                &:checked{
                    &+span{
                        background-color: $primary;
                        svg{
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}

// Select 2
.select2-container--default {
    .select2-selection--single {
        background-color: rgba(255, 255, 255, 0.1) !important;
        color: #ffffff !important;
        border-color: transparent !important;
        height: 2.2rem !important;

        .select2-selection__rendered {
            color: theme-color(light) !important;
            padding-left: 1rem !important;
        }
        .select2-selection__placeholder {
            color: theme-color(light) !important;
            line-height: 2.2rem;
        }
        .select2-selection__arrow {
            height: 2.2rem !important;
        }
    }
}
.select2-container{
    width: 100% !important;
    text-align: left !important;
}